<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jia.demo">

    <!-- 添加读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 访问互联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 配置单元测试框架的启动项 -->
    <!-- 这里设置了android:targetPackage与项目的package相同，这样当前单元测试和应用程序会运行在同一个进程里面 -->
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="test"
        android:targetPackage="com.jia.demo" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Light.NoTitleBar">

        <!-- 单元测试库 -->
        <uses-library android:name="android.test.runner" />

        <!-- =======================Activity========================== -->
        <activity android:name=".activity.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop" />
        <activity android:name=".base.BaseWebViewActivity" />
        <activity
            android:name=".activity.TagActivity"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".activity.ViewPagerActivity" />
        <activity android:name=".activity.HtmlCacheActivity" />
        <activity android:name=".activity.ParallaxActivity" />
        <activity android:name=".activity.DBActivity" />
        <activity android:name=".activity.EventBusFirstActivity" />
        <activity android:name=".activity.EventBusSecondActivity" />
        <activity android:name=".activity.IndexActivity" />
        <activity android:name=".activity.DataBindingActivity" />
        <activity android:name=".activity.RxJavaActivity" />
        <activity android:name=".activity.OkHttpActivity" />
        <activity
            android:name=".activity.MaterialDesignActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.VerticalLooperViewActivity" />
        <activity android:name=".activity.CircularProgressActivity" />
        <activity android:name=".activity.DownLoadActivity" />
        <activity android:name=".activity.JavaActivity" />
        <activity android:name=".activity.RetrofitActivity" />
        <activity android:name=".activity.GlideImageViewActivity" />
        <activity android:name=".activity.RecyclerViewActivity" />
        <activity android:name=".activity.SVGActivity" />
        <activity android:name=".activity.PathAnimationActivity" />
        <activity android:name=".activity.HuaLangActivity" />
        <activity android:name=".activity.WaterWaveProgressActivity" />
        <activity android:name=".activity.NotificationActivity" />
        <activity android:name=".activity.PopupWindowActivity" />
        <activity android:name=".activity.PDFActivity" />
        <activity
            android:name=".activity.StatusBarActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".activity.LifeMethodActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.LifeMethodTwoActivity" />
        <activity android:name=".activity.LifeMehodThreeActivity" />
        <activity android:name=".activity.ItemAnimatorActivity" />
        <activity android:name=".activity.ScaleTypeActivity" />
        <activity android:name=".activity.MILoadingActivity" />
        <activity android:name=".activity.PasswordEditTextActivity" />
        <activity android:name=".activity.enter.animation.AnimMainActivity" />
        <activity android:name=".activity.enter.animation.AnimDefaultActivity" />
        <activity android:name=".activity.enter.animation.AnimExplodeActivity" />
        <activity android:name=".activity.enter.animation.AnimSlideActivity" />
        <activity android:name=".activity.enter.animation.AnimShareViewActivity" />
        <activity android:name=".activity.VoronoiActivity" />
        <activity android:name=".activity.RadarActivity" />
        <activity android:name=".activity.CameraActivity" />
        <activity android:name=".activity.TBSActivity" />
        <activity android:name=".activity.MediaSelectActivity" />
        <activity android:name=".activity.LyricViewActivity" />
        <activity
            android:name=".activity.NestedScrollingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.TantanActivity"
            android:label="@string/title_activity_tantan"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.FabActivity" />
        <activity android:name=".activity.ScalpelActivity" />
        <activity android:name=".activity.ChristmasSnowActivity" />
        <activity android:name=".activity.GalleryActivity" />
        <activity android:name=".activity.LableActivity" />
        <activity android:name=".activity.DiagonalActivity" />
        <activity android:name=".activity.ProgressUploadButtonActivity" />
        <activity android:name=".activity.CalendarActivity" />
        <activity android:name=".activity.AlertActivity" />
        <activity android:name=".activity.AnimationActivity" />
        <activity
            android:name=".activity.TabTargetViewActivity"
            android:label="@string/title_activity_tab_target_view" />
        <activity
            android:name=".activity.CoordinatorLayoutActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.TransitionActivity"
            android:label="@string/title_activity_transition"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>